*, *::after, *::before{
    box-sizing: border-box;
}
html{
    font-size: 15px;
}

body{
    background-color: #F1F1F1 ;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
header{
    padding: 2rem 1rem;
    text-align: center;
}

header > h2{
    font-size: 36px;
    margin: 10px 0;
    font-weight: 600px;
    
}
main{
    display: flex;
}

.col1{
    flex:2;
    
}
.post{
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 2px 9px 2px #aaa;

}
.col2{
    flex:1;
    padding: 1rem;  
    
}
.middle-title{
    text-align: center;
}
.post-image{
    width: 100%;
}
.post-body{
    padding: 1rem;
}
.post-date{
    font-style: italic;
}
.post-title{
    margin: 0 0 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 600;
}
.post-title-desc{
    font-size: 0.9em;
    color: #333;
}
.post-button{
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem 1.6rem;
    border: 1px solid #ccc;
    color: black;
    font-weight: 600;
    
}
.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2rem;
    
}


.post-button:hover{
    background-color: #ccc;
    color: black;
}
p {
    margin: 1rem 0;
    line-height: 1.5;
}
.sidebar-box{
    box-shadow: 2px 2px 9px 2px #aaa;
    padding: 1rem;
}

.sidebar-box-image{
    width: 100%;
}

.tag{
    background-color: black;
    color: white;
    padding: 0 .5rem;
}
.longPara{
    padding: 1rem;
}
footer{
    background-color: #616161;
    color: white;
    margin-top: 1rem;
    padding: 2rem 1rem;
}
.footer-link{
    text-decoration: underline;
    color: white;
}
.footer-button{
    display: inline-block;
    padding: 0.8rem 1.6rem;
    margin-bottom: 1rem;
    color: white;
    background-color: black;
    text-decoration: none;
}

.footer-button:hover{
    background-color: #ccc;
    color: black;
}
.footer-button.disabled{
    opacity: 0.3;
    cursor: not-allowed;
}
